
.contact-page-content {
    padding: 50px 0 50px 0;
}

.contact-container {
    max-width: 75vw; 
    margin: 0 auto;
    display: flex;
    gap: 5vw; 
    align-items: flex-start;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Leaf image layer */
    background-image: url('leafblend.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    /* OPACITY OF THE LEAF IMAGE TO BLEND NICELY WITH THE PAPER TEXTURE */
    opacity: 0.15; 
    mix-blend-mode: multiply; 
    z-index: -1; 
}


#file-upload {
    display: none; 
}

#attach-files-trigger {
    cursor: pointer; 
    float: right; 
    position: relative; 
    z-index: 10; 
    display: flex; 
    align-items: center; 
    margin: 10px 0 20px 0; 
}

/* Style for the image */
.attach-icon {
    height: 16px; 
    width: 16px; 
    margin-right: 5px;
}

/*  LEFT SIDE: CONTACT FORM CARD STYLES  */

.contact-form-card {
    flex: 0 0 45%; 
    background-color: var(--color-light-green); 
    padding: 40px;
    border-radius: 20px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    position: relative;
}

.contact-form-card label {
    display: block;
    font-weight: 400; 
    font-size: 1.1em;
    margin-top: 15px;
    margin-bottom: 5px;
    color: var(--color-black); 
    font-family: 'Montserrat', sans-serif; 
}

/* Input field and textarea styles */
.contact-form-card input[type="text"],
.contact-form-card input[type="email"],
.contact-form-card textarea {
    width: 100%;
    padding: 2px 0 10px 0;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid var(--color-medium-green); 
    background-color: transparent;
    color: var(--color-dark-green); 
    font-size: 1em;
    outline: none;
    transition: border-bottom-color 0.3s;
    font-family: 'Montserrat', sans-serif; 
    overflow: hidden; 
}


.contact-form-card input::placeholder,
.contact-form-card textarea::placeholder {
    color: var(--color-medium-green); 
}

.contact-form-card textarea {
    resize: none;
    height: 30px; 
}

.file-attach-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.9em;
    color: var(--color-dark-green); 
    margin-top: 5px; 
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.attach-icon {
    height: 30px; 
    width: 30px;  
    margin-right: 5px;
    vertical-align: middle;
}

.submit-button {
    display: block;
    width: 150px;
    padding: 12px 0;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-dark-green);
    color: var(--color-white);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif; 
}


/*  RIGHT SIDE: CONTACT DETAILS STYLES  */
.contact-details {
    float: none; 
    text-align: left; 
}

.query-text {
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.1em;
    font-weight: 400;
    color: var(--color-black); 
    margin-bottom: 5px;
}

.contact-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    font-weight: 400;
    color: var(--color-black);
    display: inline-block; 
    align-items: flex-end; 
    
    line-height: 1;
    margin-bottom: 10px;
    position: relative; 
}

.contact-heading .contact-word {
    position: relative; 
    margin-right: 8px; 
    line-height: inherit; 
}


.contact-heading .us-text {
    color: var(---color-black); 
    vertical-align: bottom;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.contact-heading::after {
    content: '';
    width: 100%; 
    height: 3px;
    background-color:#000;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.contact-subtext {
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.1em;
    line-height: 1.6;
    color: var(--color-black); 
    max-width: 400px;
    margin-bottom: 30px;
    margin-top: 20px;
}


.social-follow {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px; 
}

.contact-details p {
    margin-bottom: 0;
}


.social-follow h2 {
    font-family: 'Hedvig Letters Serif', serif; 
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 0px;
    text-align: center;
    color: var(--color-black); 
}

.social-icons {
    display: inline-block;
    justify-content: center;
    align-items: center;
    float: none; 
    margin: 0;
    gap: 25px;
    padding: 0;
}


.social-icons a {
    display: inline-block; 
    margin: 0 2px; 
    padding: 0 !important;
    line-height: 1;
}


.social-icons a img {
    height: 30px;
    width: 30px;
    margin: 0;
    padding: 0;
    vertical-align: top; 
}

.contact-info p {
    font-family: 'Hedvig Letters Serif', serif; 
    font-size: 1em;
    line-height: 1.8;
    color: var(--color-black); 
    margin-top: 20px;
}

.contact-info a {
    color: var(--color-black); 
    text-decoration: underline;
}


/* FOOTER LINKS/COPYRIGHT STYLES */
.footer-links {
    text-align: center; 
    padding: 40px 0 10px 0; 
    font-size: 1em; 
    margin-top: 200px;
}

.policy-link {
    margin: 0 10px;
    color: var(--color-black); 
    text-decoration: none;
    font-family: 'Montserrat', sans-serif; 
}

.copyright-text {
    text-align: center; 
    font-size: 0.8em; 
    color: var(--color-black); 
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif; 
}


/* TABLET STYLES */

@media (max-width: 1024px) {
    .footer-links {
        margin-top: 100px; 
    }

     .contact-heading {
        position: relative !important; 
        margin-bottom: 0px !important; 
    }
    
    .contact-heading::after {
        content: '';
        display: block !important;
        width: 270px !important; 
        left: 0 !important; 
        top: 50px !important; 
        
        
        height: 3px !important;
        background-color: #000 !important;
        position: absolute;
    }

    .contact-heading .us-text {
        text-decoration: underline; 
        text-decoration-thickness: 3px;
        text-underline-offset: 5px; 
        display: inline-block;
        margin-left: 0; 
    }

}


/* MOBILE STYLES */

@media (max-width: 768px) {

     
    .contact-heading .contact-word::after {
        content: "\A"; 
        white-space: pre; 
    }
    
    .contact-heading .contact-word {
        text-decoration: underline; 
        text-decoration-thickness: 3px;
        text-underline-offset: 5px; 
    }
    
    .contact-heading .us-text {
        text-decoration: underline; 
        text-decoration-thickness: 3px;
        text-underline-offset: 5px; 
    }

    .contact-heading::after {
        display: none !important;
    }


    .contact-heading .contact-word {
        margin-right: -10px; 
        position: relative;
    }

    .contact-container {
        margin: 0 auto;
        display: block; 
        width: 100%;
        padding: 10px;
    }

    .contact-form-card {
        max-width: 400px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .contact-details {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        text-align: center;
    }

    .contact-heading {
        justify-content: center;
        font-size: 2.5em;
    }
    
    .contact-heading::after {
        display: none; 
    }

    .contact-subtext {
        max-width: 100%;
        margin: 0 auto 20px auto;
        margin-top: 20px;
    }

    .social-follow h2,
    .social-icons,
    .contact-info p {
        text-align: center;
    }
    
    .footer-links {
        margin-top: 30px; 
        padding: 20px 0 10px 0;
    }
    
    /* Ensure the entire footer section doesn't have excess padding on mobile */
    .footer-links {
        padding: 20px 0 10px 0;
    }

    .policy-link {
        margin: 0;
    }
}